<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slackheap Challenge</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <!-- Top Navigation -->
      <header>
        <h1>Slackheap Challenge <span>Weekly Stats</span></h1>
      </header>
      <div class="component">
        <table>
          <thead>
            <tr>
              <th>Awards</th>
              <th>Individual</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
<% @data.each do |e| %>
            <tr>
              <th><%= e[:name] %></th>
              <td><%= e[:find].call %></td>
              <td>Not-yet-implemented</td>
            </tr>
<% end %>
          </tbody>
        </table>
      </div>


    </div><!-- /container -->
    <div class="graphs">
      <div class="container">
        <div class="component">
<% @graph_data.keys.each do |key| %>
          <div id="<%= key %>-holder" style="float: left; margin: 50px">
            <h2>Breakdown <%= key %></h2>
            <canvas id="<%= key %>-chart" width="300" height="300"></canvas>
          </div>
<% end %>
            <script>
<% @graph_data.each do |key, values| %>
              var <%= key %>Data = <%= JSON.dump(values) %>;
<% end %>
              window.onload = function() {
<% @graph_data.keys.each do |key| %>
                var <%= key %>Ctx = document.getElementById("<%= key %>-chart").getContext("2d");
                new Chart(<%= key %>Ctx).Pie(<%= key %>Data);
<% end %>
              };
            </script>
          </div>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="js/jquery.stickyheader.js"></script>
    <script src="js/Chart.min.js"></script>
  </body>
</html>
